<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2f4ec">  <td>21/02/22 21:37:08</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;sampletest.launchbrowser()[pri:0, instance:webautotest.sampletest@7e9131d5]">&gt;&gt;launchbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1765795529</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>21/02/22 21:37:08</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sampletest.webcheck()[pri:0, instance:webautotest.sampletest@7e9131d5]">webcheck</td> 
  <td>main@1765795529</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>21/02/22 21:38:47</td>   <td>98853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sampletest.webcheck()[pri:0, instance:webautotest.sampletest@7e9131d5]">webcheck</td> 
  <td>main@1765795529</td>   <td></td> </tr>
<tr bgcolor="a2f4ec">  <td>21/02/22 21:38:49</td>   <td>101507</td> <td>&nbsp;</td><td title="&lt;&lt;sampletest.terminatebrowser()[pri:0, instance:webautotest.sampletest@7e9131d5]">&lt;&lt;terminatebrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1765795529</td>   <td></td> </tr>
</table>
