<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2a091">  <td>21/02/22 21:25:31</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;sampletest.launchbrowser()[pri:0, instance:webautotest.sampletest@776b83cc]">&gt;&gt;launchbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@812586739</td>   <td></td> </tr>
<tr bgcolor="e2a091">  <td>21/02/22 21:25:31</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sampletest.webcheck()[pri:0, instance:webautotest.sampletest@776b83cc]">webcheck</td> 
  <td>main@812586739</td>   <td></td> </tr>
<tr bgcolor="e2a091">  <td>21/02/22 21:25:31</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sampletest.webcheck()[pri:0, instance:webautotest.sampletest@776b83cc]">webcheck</td> 
  <td>main@812586739</td>   <td></td> </tr>
<tr bgcolor="e2a091">  <td>21/02/22 21:25:31</td>   <td>31</td> <td>&nbsp;</td><td title="&lt;&lt;sampletest.terminatebrowser()[pri:0, instance:webautotest.sampletest@776b83cc]">&lt;&lt;terminatebrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@812586739</td>   <td></td> </tr>
</table>
